{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "globals": {
    "document": false,
    "localStorage": true,
    "window": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["url"]
      }
    ],
    "react/state-in-constructor": [2, "never"],
    "react/destructuring-assignment": [2, "never"],
    "jsx-a11y/label-has-associated-control": [2, { "assert": "htmlFor" }],
    "max-len": [
      "error",
      150,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "plugins": ["react-hooks"]
}
