* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: "rgb(88, 86, 86)";
  }
  
  
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    margin-top: 7%;
    padding: 2rem;
    background-color: #f8f8f8;
  }
  
  
  input[type="checkbox"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer
  }
    input[type="checkbox"]::before {
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      left: 7px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0
    }
    input[type="checkbox"]:checked {
      color: white;
      border-color: #15B371;
      background:#15B371
      }
      input[type="checkbox"]::before {
        opacity: 1;
      }
      label {
        position: relative;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: 400;
        padding: 0 0.25em 0;
      }
      #deleteButton{
        border-style:none;
        padding: 5px;
        cursor: pointer;
        float: right;
        background-color: #ffffff;
      }
  
  
  